/symfony/.web-server-pid
/symfony/app/config/parameters.yml
/symfony/build/
/symfony/phpunit.xml
/symfony/var/*
!/symfony/var/cache
/symfony/var/cache/*
!/symfonyvar/cache/.gitkeep
!/symfony/var/logs
/symfony/var/logs/*
!/symfonyvar/logs/.gitkeep
!/symfony/var/sessions
/symfony/var/sessions/*
!/symfonyvar/sessions/.gitkeep
!/symfonyvar/SymfonyRequirements.php
/symfony/vendor/
/symfony/web/bundles/
