<div> 
    <h3 class="text-center mt-4">Página de Bienvenida</h3> 
    <div class="container">
        <div class="row col-12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium aperiam veniam nesciunt soluta, asperiores qui quibusdam esse, rerum, atque obcaecati velit assumenda aspernatur minus ea dolorem perferendis molestiae ab corrupti?
        Tenetur quae quisquam ipsum optio explicabo ipsa culpa voluptatem. Pariatur asperiores tempore delectus itaque aut deserunt minima temporibus, nam possimus quas obcaecati a ratione repudiandae quae enim recusandae est ea?
        Doloribus recusandae odio ipsum temporibus, fugit sapiente aspernatur assumenda vel mollitia est sequi nobis beatae. Facere libero possimus quae necessitatibus voluptates, nisi eos, harum consequatur vitae nihil modi repudiandae excepturi!
        Debitis, mollitia ipsum quo placeat ex odit hic voluptas, alias praesentium sequi est voluptates modi eligendi, id rerum amet accusamus unde totam nihil fugiat recusandae fugit repellendus delectus? A, illo?
        Enim voluptatem nostrum provident. Molestias vero ipsa quis reiciendis quos libero. Molestiae sit fugiat exercitationem laudantium! Voluptatem quibusdam unde labore, laudantium libero quos, officia optio iure, deleniti debitis consequatur facere?
        Accusamus consequuntur atque quisquam nulla perspiciatis delectus et voluptatibus, voluptate cum laudantium reiciendis, soluta ullam voluptatum. Maxime quibusdam, eveniet molestiae repudiandae, quisquam corrupti modi labore doloribus maiores ut a sapiente.</div>
    </div>

</div>
