<div class="container register-component mt-3">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 ">
      <h3 class="text-center mb-3">{{title}}</h3>
      <div class="alert alert-success" *ngIf="status=='success'">Registrado correctamente {{lastEmailRegistered}}. Puedes loguearte <a [routerLink]="['/login']">desde aquí</a> </div>
      <div class="alert alert-danger" *ngIf="status=='error'">No ha sido posible registrarse con esos datos</div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset()" class="form-row mt-2">
        <p class="col-12">
          <label>Nombre:</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required>
          <span class="text-danger small" *ngIf="!name.valid && name.touched">Nombre no válido</span>
        </p>
        <p class="col-12">
          <label>Apellidos:</label>
          <input type="text" class="form-control" name="surnmae" #surname="ngModel" [(ngModel)]="user.surname" required>
          <span class="text-danger small" *ngIf="!surname.valid && surname.touched">Apellidos no válidos</span>
        </p>
        <p class="col-12">
          <label>Email:</label>
          <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required>
          <span class="text-danger small" *ngIf="!email.valid && email.touched">Email no válido</span>
        </p>
        <p class="col-12">
          <label>Contraseña:</label>
          <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
          <span class="text-danger small" *ngIf="!password.valid && password.touched">Contraseña no válida</span>
        </p>
        <p class="col-12">
          <input type="submit" class="btn btn-primary col-12 mt-2" value="Registrarse" [disabled]="!registerForm.form.valid">
        </p>
      </form>
    </div>
  </div>
</div>