
.info-status.status-new{    
    color: #1e7584;
    text-shadow: 1px 2px 9px;
}

.info-status.status-todo {
    color: #ffc107;
    text-shadow: 1px 2px 9px;
}

.info-status.status-finished{
    color:#13842e;
    text-shadow: 1px 2px 9px;
}

.card-header .info-status{
    float: right;
}

.card-info{
   margin-left: auto; 
}

.card-info-content{
    margin: 0 30px 10px 0;
}
       